body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(168, 171, 182);
}

#calculator{
    font-family: Arial, sans-serif;
    background-color: rgb(98, 98, 98);
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
}

#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(144, 142, 142);
    color: rgb(255, 255, 255);
}

#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 30px;
}

.equal{
    width: 100%;
    grid-column: span 4
}

button{
    width:auto;
    height:80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(55,56,63);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

button:hover{
    background-color: rgb(218, 157, 43);
}

button:active{
    background-color: rgb(255, 203, 107);
}

.num-button{
    background-color: rgba(6, 103, 148, 0.757);
}

.num-button:hover{
    background-color: rgba(74, 134, 163, 0.757);
}

.num-button:active{
    background-color: rgba(122, 190, 222, 0.757);
}

.clear-button:hover{
    background-color: rgba(197, 7, 7, 0.757);
}

.clear-button:active{
    background-color: rgba(255, 121, 121, 0.757);
}